.alt_descriptions_button {
    margin-top: 5px;
}

.alt_descriptions_button:hover {
    opacity: 0.8;
}

.active-description .desc-textarea {
    border-color: #28a745;
}

.desc-title {
    flex: 1;
}